__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
.ipynb_checkpoints/
.venv/
venv/
env/
env_py311/
yolo_env/
logs/
artifacts/
*.pt
*.pth
*.pb
data/raw/test_videos/*.mp4
data/raw/test_videos/*.mov
